
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  .navigation {
    display: block;
    font-size: 16px;
    color: #000000;
    line-height: 30px;
    font-weight: normal;
    
   }
.navigation a:link {
   text-decoration: none;
   color: #000000;
}
.navigation a:hover {
    text-decoration: underline; 
    color: red;
}  
.basket a:link {
   text-decoration: none;
   color: #000000;
}
.basket a:hover {
    text-decoration: underline; 
    color: red;
}  
.basket {
    font-size: 16px;
    color: #000000;
    line-height: 30px;
    font-weight: normal;  
}

.slider h2 {
  font-size: 55px;
    color: #000000;
    line-height: 55px;
    font-weight: normal;
}    
.motto {
    font-size: 16px;
    color: #5d6367;
    line-height: 24px;
    font-weight: normal;  
}
.features-item1, .features-item2, .features-item3 {
    font-size: 24px;
    color: #000000;
    line-height: 30px;
    font-weight: bold;  
}
.type1, .type2, .type3 {
    font-size: 16px;
    color: #5d6367;
    line-height: 24px;
    font-weight: normal;  
}
.company-left-column h2 {
  font-size: 45px;
    color: #000000;
    line-height: 45px;
    font-weight: normal;
}
.company-left-column p {
    font-size: 16px;
    color: #5d6367;
    line-height: 24px;
    font-weight: normal;
}
.categories h2 {
  font-size: 16px;
    color: #000000;
    line-height: 24px;
    font-weight: bold;
}
.categories li {
    font-size: 16px;
    color: #5d6367;
    line-height: 24px;
    font-weight: normal;  
}

.company-right-column-statement h2 {
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    font-weight: bold;    
}
.company-right-column-percent, .percent {
    font-size: 45px;
    color: #000000;
    line-height: 10,06px;
    font-weight: normal;    
}
.company-right-column-percent, .advantage {
    font-size: 16px;
    color: #5d6367;
    line-height: 18px;
    font-weight: normal;    
}
.footer-social h2 {
    font-size: 36px;
    color: #000000;
    line-height: 36px;
    font-weight: normal;  
}
.discount {
    font-size: 16px;
    color: #000000;
    line-height: 22px;
    font-weight: normal;    
}

h1 {
    font-size: 55px;
    color: #000000;
    line-height: 55px;
    font-weight: normal;
}

.index-content-left h2 {
    font-size: 18px;
    color: #000000;
    line-height: 30px;
    font-weight: normal; 
}

.sorting h2 {
    font-size: 18px;
    color: #000000;
    line-height: 30px;
    font-weight: normal;    
}
main {
   width: 1200px;
 
}
 .container {
  width: 1160px;  
  margin: 0 auto; 
  padding: 0 20px; 
} 
}
.main-heder {
   width: 1920px;	
}

 .index-logo {
    float: left;
    width: 160px;
}

 .navigation {
    float: left;
    width: 800px;
    margin: 0 20px.
   }

 .basket { 
    float: right;
    width: 160px;
   }

 .slider {
  width: 380px;
  display: none
} 
.slide {
  min-height: 431px; 
}
.slide-description {
  width: 380px; 
}
 
 h1 {
  margin-left: 360px
}

.container .clearfix::after {
   content: "";
   display: table;
   clear: both;
}

.navigation li {
	display: inline-block;
	margin-left: 48px;
}



.features {
  width: 1100px;
  margin-top: 157px;
  margin-left: 20px;
  margin-right: 80px;
  margin-bottom: 119px;
}  

.features-item1 {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.features-item2 {
  float: left;
  width: 300px;
}

.features-item3  {
  float: right;
  width: 300px;
}


 .company {
  width: 1160px;
  margin-top: 165px;
  margin-left: 20px;
  margin-right: 80px;
  margin-bottom: 119px;
}  
 	
.company-left-column {
 float: left;
 width: 665px;
  
}

.categories {
	float: left;
	width: 445px;
}

.company-right-column {
	float: right;
	width: 360px;
}

.clients {
  width: 1100px;
  height: 84px;
  margin-right: auto;
  margin-left: auto;
}
 .discount  {
 	float:left;
 	width: 267px;
 	margin-right: auto;
  margin-left: auto;
 }
.footer-social {
  width: 550px;
  height: 59px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 76px;
  margin-bottom: 76px;

}
.index-content-left{
  float:left;
  width: 260px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 164px;
  margin-bottom: 0px;
  display: block; 
}

.index-content-right {
  float:right;
  width: 760px;
  margin-right: 140px;
  margin-left: 140px;
  margin-top: 165px;
  margin-bottom: 60px; 
}
.paginator {
  margin-left: 540px;
  margin-right: 454px;
  margin-bottom: 58px;
  margin-top: 60px;
}
.friends {
  margin-top: 69px;
  margin-bottom: : 69px;
  margin-left: 140px 
  margin-right: 135px; 
}