
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;

  }
  .navigation {
    display: block;
    font-size: 16px;
    color: #000000;
    line-height: 30px;
    font-weight: normal;
    
   }
.navigation a:link {
   text-decoration: none;
   color: #000000;
}
.navigation a:hover {
    text-decoration: underline; 
    color: red;
}  
.basket a:link {
   text-decoration: none;
   color: #000000;
}
.basket a:hover {
    text-decoration: underline; 
    color: red;
}  
.basket {
    font-size: 16px;
    color: #000000;
    line-height: 30px;
    font-weight: normal;  
}

.slider h2 {
  font-size: 55px;
    color: #000000;
    line-height: 55px;
    font-weight: normal;
}    
.motto {
    font-size: 16px;
    color: #5d6367;
    line-height: 24px;
    font-weight: normal;  
}
.features-item h2 {
    font-size: 24px;
    color: #000000;
    line-height: 30px;
    font-weight: bold;  
}

.type {
    font-size: 16px;
    color: #5d6367;
    line-height: 24px;
    font-weight: normal;  
}
.company-left-column h2 {
  font-size: 45px;
    color: #000000;
    line-height: 45px;
    font-weight: normal;
}
.company-left-column p {
    font-size: 16px;
    color: #5d6367;
    line-height: 24px;
    font-weight: normal;
}
.categories h2 {
  font-size: 16px;
    color: #000000;
    line-height: 24px;
    font-weight: bold;
}
.categories li {
    font-size: 16px;
    color: #5d6367;
    line-height: 24px;
    font-weight: normal;  
}

.company-right-column-statement h2 {
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    font-weight: bold;    
}
.company-right-column-percent, .percent {
    font-size: 45px;
    color: #000000;
    line-height: 10px;
    font-weight: normal;    
}
.company-right-column-percent, .advantage {
    font-size: 16px;
    color: #5d6367;
    line-height: 18px;
    font-weight: normal;    
}
.footer-social h2 {
    font-size: 36px;
    color: #000000;
    line-height: 36px;
    font-weight: normal;
    margin: 0;
}
.discount {
    font-size: 16px;
    color: #000000;
    line-height: 22px;
    font-weight: normal;    
}

h1 {
    font-size: 55px;
    color: #000000;
    line-height: 55px;
    font-weight: normal;
}

.index-content-left h2 {
    font-size: 18px;
    color: #000000;
    line-height: 30px;
    font-weight: normal; 
}

.sorting h2 {
    font-size: 18px;
    color: #000000;
    line-height: 30px;
    font-weight: normal;    
}
main {
   width: 1200px;
 
}
 .container {
  width: 1160px;  
  margin: 0 auto; 
  padding: 0 20px; 
} 
.main-header {
   margin-bottom: 80px;
   background-color:#eeeeee;
}
.main-header-top {
  padding-top: 50px;
}
 .index-logo {
    float: left;
    width: 160px;
    height: 65px;
}

 .navigation {
    float: left;
    width: 800px;
    margin: 0 20px;
    padding-top: 23px;
    text-align: center;
   }
.navigation ul {
  margin: 0;
  list-style-type: none;
}

 .basket { 
  float: right;
  width: 160px;
  padding-top: 23px;
   }

 .slider {
  width: 380px;
} 
.slider .hide {
 display: none 
}
.slide {
  min-height: 431px; 
}

.slide-description {
  width: 380px; 
}
 
 h1 {
  margin-left: 360px
}

.clearfix::after {
   content: "";
   display: table;
   clear: both;
}

.navigation li {
  display: inline-block;
	margin: 0;
}

.features {
  margin-bottom: 80px;
}  

.features-item {
  float: left;
  width: 300px;
  margin-right: 60px;

}

.features-item + .features-item { 
margin-left: 40px; 
}


 .company {
  padding-top: 40px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 62px;
}  
 	
.company-left-column {
 float: left;
 width: 665px;
  
}

.categories {
	float: left;
	width: 445px;
}

.company-right-column {
	float: right;
	width: 360px;
}
.depiction a {
display: inline-block;
margin-top: 133px;
width: 760px;
margin-right: 20px; 
}

.clients {
  margin-bottom: 80px; 
  padding: 45px 0;
  font-size: 0px;
  text-align: center;
}

.clients a {
 display: inline-block; 
 vertical-align: middle; 
 width: 290px; 
 max-height: 90px;
 font-size: 16px;
  }

.map {
  height: 310px;
  padding: 53px 0;
  background: url(../img/map.jpg) no-repeat;
  background-size: cover;
}
.main-footer-social {
padding: 70px 0;
}
 .discount  {
 	width: 267px;
 }


.index-content-left{
  float:left;
  width: 260px;
}

.index-content-right {
  float:right;
  width: 760px;
  margin-bottom: 60px; 
}
.paginator {
  margin-bottom: 58px;
  margin-top: 60px;
}
.friends { 
float: left; 
margin-right: 135px; 
width: 260px;
}
.footer-social {
float: left; 
max-width: 760px;
}

.sprite-cart-icon {
    width: 15px;
    height: 15px;
    background-position: -20px -20px;
}

.social-btn-fb {
    width: 12px;
    height: 22px;
    background-position: -20px -75px;
}

.social-btn-inst {
    width: 21px;
    height: 21px;
    background-position: -20px -137px;
}

.social-btn-vk {
    width: 26px;
    height: 15px;
    background-position: -20px -198px;
}
    
.social-btn {
  background-image: url("img/spritesheet.png");
  background-repeat: no-repeat;   
  display: block;
}



